    <form #signUp="ngForm" (ngSubmit)="sendFormData(signUp.value,signUp)">
      <div class="mb-3">
        <input type="email" name="email" placeholder="Enter Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  ngModel  #email="ngModel" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" required>
       <div class="addValidationColor"*ngIf="email.invalid && (email.dirty || email.touched)">  
              Email is required
        </div>
      </div>
      <div class="mb-3">
        <input type="text" name="fullName" placeholder="Enter FullName" class="form-control" id="exampleInputPassword1" ngModel #fullName="ngModel" pattern="[a-zA-Z ]+$" required>
      <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="alert addValidationColor">
            Fullname is required
      </div>
      </div>
      <div class="mb-3">
        <input type="password" placeholder="Enter Password" name="password" minlength="4" class="form-control" id="exampleInputPassword1" ngModel #password="ngModel" required>
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert addValidationColor">
              password is required
          </div>
     </div>
    <button class="submitButton" type="submit" [disabled]="signUp.invalid"><b>submit</b></button>
</form><br>


<div class="message">
<div class="error" *ngIf="flagOne">
  <!-- Error Message-->
  {{showErrorMessage}}
</div>

<div class="success" *ngIf="flag">
  <!-- Success Message-->
  {{showSuceesMessage}}
</div>
</div>